/* <---- SET UP ----> */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* <---- BODY ----> */

body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}


/* <---- OVERLAY ----> */

.overlay-top {
	position: absolute;
	top:0;
	bottom: 50vh;
	right: 0;
	left: 0;
	background-color: red;
	z-index: 10;
	border-bottom: 5px solid black;
}

.overlay-bottom {
	position: absolute;
	top:50vh;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	z-index: 5;
	border-top: 5px solid black;
}

.pokeball-centre {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: absolute;
	right: calc(50vw - 150px);
	top: calc(50vh - 150px);
	z-index: 20;
}

.overlay-top h1 {
	padding-top: 75px;
	font-size: 60px;
}

ul.choose {
	list-style: none;
	padding: 0;
	margin: 0;
	border: black 10px solid;
	border-radius: 50%;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

.choose li {
	width: 140px;
	height: 140px;
	display: inline;
	text-align: center;
}

.choose li:hover {
	cursor: crosshair;
}

li img {
	width: 120px;
	text-align: center;
	margin: 20px;
	overflow: hidden;
	position: relative;
}

.bulbasaur img {
	margin-right: 0;
	margin-bottom: 0;
	top: 10px;
	left: 10px;
}

.charmander img {
	margin-left: 0;
	margin-bottom: 0;
	top: 10px;
	right: 10px;
}

.squirtle img {
	margin-top: 0;
	margin-right: 0;
	bottom: 10px;
	left: 10px;
}

.pikachu img {
	margin-top:0;
	margin-left:0;
	bottom: 10px;
	right: 10px;
}

h3 {
	padding-top: 220px;
}


/* <---- FORM ----> */

header {
	padding-bottom: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

header h1 {
	margin-top: 40px;
}

h1,h2,h3 {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	margin: 20px;
}

form {
	text-align: center;
	height: 85px;
	width: 400px;
	position: relative;
	margin: 15px auto;
}

#userGuess {
	width: 300px;
	height: 75px;
	padding: 0 15px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

#userSubmit {
	height: 75px;
	text-align: center;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.pokemon-gallery {
	display: flex;
	flex-wrap: wrap;
	padding-top: 246px;
	padding-bottom: 104px;
}

/* <---- POKEMON CARDS ----> */

.pokemon-container {
	width: calc(20% - 16px);
	border: solid 2px #08398b;
	background-color: white;
	margin: 8px;
}

.pokemon-container img {
	width: 100%;
}

.pokeName, .pokeNumber {
	text-transform: uppercase;
	height: 100%;
	margin: 0;
	padding: 10px;
	text-align: center;
	background-color: #cdcdd5;
}

.pokeName {
	width: 75%;
	float: left;
}

.pokeNumber {
	width: 25%;
	float: left;
	border-right: solid 2px #08398b;
}

.pokeTextContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: solid 2px #08398b;
	font-weight: bold;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
}

footer p {
	width: calc(100% / 3);
	text-align: center;
}

p.credit {
	font-size: 8px;
	text-align: left;
	padding-left: 5px;
}

p.footer-right {
	text-align: right;
	padding-right: 5px;
}




/* <---- CHARMANDER STYLING ----> */


.charmander-1 {
	background-color: #ff9441;
}

.charmander-2 {
	background-color: #de5239;
}

.charmander-3 {
	color: #8b2900;
}

.charmander-4 {
	background-color: #ffd57b;
	border: solid 5px #ffd57b;
}


/* <---- SQUIRTLE STYLING ----> */

.squirtle-1 {
	background-color: #5a9ca4;
}

.squirtle-2 {
	background-color: #8bc5cd;
}

.squirtle-3 {
	color: #cd7b29;
}

.squirtle-4 {
	background-color: #297383;
	border: 5px solid #297383;
}


/* <---- BULBASAUR STYLING ----> */

.bulbasaur-1 {
	background-color: #73ac31;
}

.bulbasaur-2 {
	background-color: #bdff73;
}

.bulbasaur-3 {
	color: #184a4a;
}

.bulbasaur-4 {
	background-color: #ac0031;
	border: 5px solid #ac0031;
}


/* <---- PIKACHU STYLING ----> */

.pikachu-1 {
	background-color: #f6e652;
}

.pikachu-2 {
	background-color: #f6bd20;
}

.pikachu-3 {
	color: #9c5200;
}

.pikachu-4 {
	background-color: #de9400;
	border: 5px solid #de9400;
}


/* <---- MEDIA QUERIES ----> */


@media only screen and (max-width: 1000px) {
	.wrapper {
		width: 90%;
	}

	.pokemon-container {
		width: calc(25% - 16px);
	}
}

@media only screen and (max-width: 900px) {
	footer {
		font-size: 20px;
	}

	.pokemon-container {
		width: calc(33% - 16px);
	}

	.pokeNumber {
		width: 30%;
		font-size: 14px;
	}

	.pokeName {
		width: 70%;
		font-size: 14px;
	}

	p.credit {
		font-size: 5px;
	}

	.overlay-top h1 {
		padding-top: 50px;
		font-size: 60px;
	}
}

@media only screen and (max-width: 650px) {
	header h1 {
		font-size: 25px;
	}
	.pokemon-container {
		width: calc(33% - 8px);
		margin: 4px;
	}
	.overlay-top h1 {
		padding: 50px 10px 0 10px;
		font-size: 40px;
	}
}

@media only screen and (max-width: 525px) {
	.wrapper {
		width: 75%;
	}
	
	.pokemon-container {
		width: calc(50% - 10px);
		margin: 5px;
	}

	form {
		width: 300px;
		height: 70px;
	}

	#userGuess {
		width: 235px;
		height: auto;
	}

	#userSubmit {
		width: 60px;
		height: 60px;
	}
}

@media only screen and (max-width: 430px) {
	.overlay-top h1 {
		padding-top: 25px;
	}

	.wrapper {
		width: 90%;
	}

	footer {
		font-size: 15px;
	}
	header h1 {
		margin: 20px 0 10px 0;
		font-size: 30px;
	}
	header {
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 400px) {
	.overlay-top h1 {
		font-size: 30px;
	}

	h3 {
		padding-top: 100px;
	}

	.pokeball-centre {
		width: 150px;
		height: 150px;
		right: calc(50vw - 75px);
		top: calc(50vh - 75px);
	}
	.choose li {
		width: 70px;
		height: 70px;
	}
	li img {
		width: 63px;
		margin: 0;
	}

	ul.choose {
		width: 150px;
		height: 150px;
		display: inline-block;
	}
}
